[submodule "ti-launchxl-f280049c-unittests/scrutiny-embedded"]
	path = ti-launchxl-f280049c-unittests/scrutiny-embedded
	url = ssh://git@github.com/scrutinydebugger/scrutiny-embedded
[submodule "ti-launchxl-f280049c-unittests/scrutiny-test-framework"]
	path = ti-launchxl-f280049c-unittests/scrutiny-test-framework
	url = ssh://git@github.com/scrutinydebugger/scrutiny-test-framework
[submodule "ti-lauchxl-f280049c-memdump/scrutiny-embedded"]
	path = ti-launchxl-f280049c-memdump/scrutiny-embedded
	url = https://github.com/scrutinydebugger/scrutiny-embedded
[submodule "footprint-app/scrutiny-devtools"]
	path = footprint-app/scrutiny-devtools
	url = https://github.com/scrutinydebugger/scrutiny-devtools
